* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*   Variables  */
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-image: url("../assets/images/background_desktop.avif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: white;
  font-weight: normal;
}

h1 {
  font-size: 1.8em;
  font-weight: 400;
}

h2 {
  font-size: 1.3em;
  color: #8ac675;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 1.1em;
  font-weight: bold;
  color: #8ac675;
  text-shadow: 1px 1px 15px #000000;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 198, 117, 0.9568627451);
  border-radius: 20px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
@-webkit-keyframes slideIn {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}
@keyframes slideIn {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideH1 {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideH1 {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.logo {
  width: 65px;
  height: 20px;
}

.navbar {
  padding: 0 1em;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(99, 99, 99, 0.1568627451);
  border-bottom: 1px solid rgba(255, 255, 255, 0.042);
  overflow: hidden;
  -webkit-animation: slideIn 1.8s ease-in-out forwards;
          animation: slideIn 1.8s ease-in-out forwards;
}
.navbar .nav-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1250;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background-color: black;
}
.navbar .nav-list li {
  line-height: 2.5rem;
}
.navbar .nav-list a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.navbar .nav-list a:hover {
  color: #8ac675;
}

.open .nav-list {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar .menu-btn {
  position: relative;
  top: 0;
  right: 0;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 999999;
}
.navbar .menu-btn span {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: rgb(222, 222, 222);
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar .menu-btn span:nth-child(1) {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
  width: 20px;
  left: 10px;
}
.navbar .menu-btn span:nth-child(2) {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  width: 20px;
  left: 10px;
}

.menu-btn.active {
  position: fixed;
  top: 10px;
  right: 5px;
}
.menu-btn.active span:nth-child(1) {
  width: 40px;
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.menu-btn.active span:nth-child(2) {
  width: 40px;
  -webkit-transform: translateY(0px) rotate(315deg);
          transform: translateY(0px) rotate(315deg);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.menu-btn.active span:nth-child(3) {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

main .hero {
  margin: 2rem 0;
}
main .hero .mockup_img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  -webkit-animation: slideRight 1.4s ease-in forwards;
          animation: slideRight 1.4s ease-in forwards;
  overflow-y: hidden;
}
main .hero_wrapper .hero_text {
  margin: 1rem 0;
  text-align: center;
}
main .hero_wrapper .hero_text .title {
  -webkit-animation: slideH1 0.8s ease-in forwards;
          animation: slideH1 0.8s ease-in forwards;
}
main .hero_wrapper .hero_text h2 {
  -webkit-animation: slideH1 2s ease-in forwards;
          animation: slideH1 2s ease-in forwards;
}
main .hero_wrapper .hero_text h3 {
  color: #585858;
  -webkit-animation: slideH1 2.4s ease-in forwards;
          animation: slideH1 2.4s ease-in forwards;
}
main .hero_wrapper .buttons_links {
  margin-top: 2rem;
}
main .hero_wrapper .buttons_links .btn_link {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.51%, rgba(217, 220, 248, 0.3450980392)), color-stop(65.22%, rgba(24, 25, 41, 0.8431372549)));
  background: linear-gradient(to bottom, rgba(217, 220, 248, 0.3450980392) 6.51%, rgba(24, 25, 41, 0.8431372549) 65.22%);
  padding: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-right: 10px;
  font-weight: 300;
  display: none;
}

@-webkit-keyframes carousel {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes carousel {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.skills_wrapper {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.51%, rgba(217, 220, 248, 0.3450980392)), color-stop(65.22%, rgba(24, 25, 41, 0.3882352941)));
  background: linear-gradient(to bottom, rgba(217, 220, 248, 0.3450980392) 6.51%, rgba(24, 25, 41, 0.3882352941) 65.22%);
  white-space: nowrap;
  position: relative;
  padding: 1rem;
  -webkit-box-shadow: 0px 5px 10px rgba(255, 255, 255, 0);
          box-shadow: 0px 5px 10px rgba(255, 255, 255, 0);
  -webkit-animation: slideH1 3.4s ease-in forwards;
          animation: slideH1 3.4s ease-in forwards;
}
.skills_wrapper .skills_box {
  margin: 0 auto;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: 15s carousel infinite linear;
          animation: 15s carousel infinite linear;
}
.skills_wrapper .skills_box div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 1.3rem;
}
.skills_wrapper .skills_box div i {
  font-size: 1.4rem;
  color: white;
  width: 100%;
  text-align: center;
  margin-right: 1rem;
}
.skills_wrapper .skills_box div img {
  width: 30px;
  height: 20px;
  margin-right: 1rem;
}
.skills_wrapper .skills_box div p {
  font-weight: 300;
  font-size: 1rem;
  color: white;
}

.skills_wrapper:before,
.skills_wrapper:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.skills_wrapper:before {
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(rgb(0, 0, 0)));
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.skills_wrapper:after {
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(227, 227, 227, 0)), to(rgb(0, 0, 0)));
  background: linear-gradient(to right, rgba(227, 227, 227, 0), rgb(0, 0, 0));
}

#about_me {
  height: auto;
  margin: 4em 0;
}
#about_me h3 {
  color: white;
  text-align: center;
  margin: 2em;
  -webkit-animation: fade 1s ease forwards;
          animation: fade 1s ease forwards;
  animation-timeline: view();
}
#about_me h3::before {
  content: "";
  border: 2px solid #8ac675;
  margin-right: 10px;
}
#about_me article .article_wrapper {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6.51%, rgba(88, 88, 88, 0.3450980392)), color-stop(65.22%, rgba(106, 106, 106, 0.1058823529)));
  background: linear-gradient(to bottom, rgba(88, 88, 88, 0.3450980392) 6.51%, rgba(106, 106, 106, 0.1058823529) 65.22%);
  padding: 3em;
  -webkit-animation: fade 1s ease forwards;
          animation: fade 1s ease forwards;
  animation-timeline: view();
}
#about_me article .article_wrapper p {
  color: white;
  line-height: 2rem;
}

#projects {
  height: auto;
  background: linear-gradient(92deg, #8ac675 6.51%, rgba(64, 108, 170, 0.8156862745) 65.22%);
  -webkit-animation: fade 1s ease forwards;
          animation: fade 1s ease forwards;
  animation-timeline: view();
}
#projects .title_section {
  color: white;
  text-align: center;
  padding: 2em 0;
}
#projects .title_section::before {
  content: "";
  border: 2px solid #8ac675;
  margin-right: 10px;
}
#projects .projects_wrapper {
  gap: 2rem;
  padding: 1em;
}
#projects .projects_wrapper .card {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.463), inset 4px 1px 15px rgba(220, 220, 220, 0.332);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.463), inset 4px 1px 15px rgba(220, 220, 220, 0.332);
  border-radius: 20px;
  background: linear-gradient(194deg, rgba(148, 176, 215, 0.223) 0%, rgba(0, 0, 0, 0.797) 63%);
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
}
#projects .projects_wrapper .card img {
  width: 100%;
  height: auto;
  padding: 1rem;
}
#projects .projects_wrapper .card .box_content {
  border-radius: 0 0 20px 20px;
  color: white;
  line-height: 1.5rem;
  margin-bottom: 1em;
}
#projects .projects_wrapper .card .box_content h4 {
  margin-bottom: 1rem;
  text-align: center;
}
#projects .projects_wrapper .card .links {
  text-align: center;
  margin-top: auto;
}
#projects .projects_wrapper .card .links a {
  font-size: 1.5rem;
  color: #8ac675;
  margin: 1rem;
}

#contact {
  height: auto;
  background-color: rgba(91, 91, 91, 0.305);
}
#contact .title_section {
  color: white;
  text-align: center;
  -webkit-animation: fade 0.1s ease-out;
          animation: fade 0.1s ease-out;
  animation-timeline: view();
  padding: 2em 0;
}
#contact .title_section:before {
  content: "";
  border: 2px solid #8ac675;
  margin-right: 10px;
}
#contact .content {
  padding: 1rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 3.5rem;
  -webkit-animation: fade 0.1s ease-out;
          animation: fade 0.1s ease-out;
  animation-timeline: view();
  margin: 0 auto;
  padding: 2rem 1rem;
}
#contact i {
  font-size: 1.5rem;
  color: #8ac675;
  margin-right: 1rem;
}
#contact h3 {
  color: #8ac675;
}
#contact span,
#contact a {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer p {
  text-align: center;
  color: #8ac675;
  padding: 2rem;
}

@media screen and (min-width: 620px) {
  .hero_wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }
  .hero_wrapper .mockup_img {
    max-width: 650px;
  }
  .projects_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1400px;
    margin: 0 auto;
  }
  #about_me {
    max-width: 1400px;
    margin: 0 auto;
  }
  #contact {
    max-width: 700px;
    margin: 0 auto;
    border-radius: 15% 0 15% 0;
  }
  #contact .content {
    max-width: 550px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  #contact .mockup_img {
    max-width: 380px;
  }
}
@media screen and (min-width: 960px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
  .navbar .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: initial;
            transform: initial;
    -webkit-transition: initial;
    transition: initial;
  }
  .navbar .menu-btn {
    display: none;
  }
  .mockup_img {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  a {
    font-size: 16px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
  body {
    font-size: 18px;
  }
  .navbar {
    padding: 0 5em;
  }
  .hero_wrapper {
    height: 70vh;
    max-width: 1800px;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero_wrapper .hero_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero_wrapper .mockup_img {
    min-width: 550px;
  }
  .skills_wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  .projects_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}